@use 'vuetify/settings' with (
  // переназначение переменных vuetify
  $button-height: 56px,
  $button-font-size: 15px,
  $button-line-height: 24px,
  $button-font-weight: 400,
  $button-text-letter-spacing: 1,
  $button-border-radius: 12px,
  $select-content-border-radius: 12px,
  $divider-border-color: var(--border)
);