:root {
  --color-primary: #0F0F0F;
  --color-primary-dark: #1B1D22;
  --color-primary-dark-60: rgba(27, 29, 34, 0.6);
  --bg: #ffffff;
  --bg-light: #F5F5F5;
  --bg-highlight: #FFF7EB;
  --bg-grey: #DBDBDB;
  --bg-grey-light: #E8E8E8;
  --bg-grey-dark: #6B6B6B;
  --border: #CCCCCC;
  --color-accent: #337566
}
